<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${event.name})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3"><a th:href="@{/events}" th:text="#{nav.events}"></a> / <span th:text="${event.name}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4">
            <img class="img-thumbnail " th:if="${event.image}" th:src="${event.image}">
        </div>
        <div class="col-12 col-md-8">
            <h5 th:text="#{event.date}"></h5>
            <p th:text="${#temporals.format(event.date, 'dd.MM.yyyy HH:mm')}"></p>

            <h5 th:text="#{event.description}"></h5>
            <p th:utext="${event.description}"></p>

            <div class="btn btn-success mb-2" th:if="${isUserRegisteredForEvent}">
                <i class="fas fa-check-circle fa-fw"></i> <span th:text="#{info.RegisteredForEvent}"></span>
            </div>
            <a class="btn btn-danger mb-2" th:if="${isUserRegisteredForEvent and isFutureDate}" th:href="@{/event/__${event.id}__/unregister}">
                <i class="fas fa-minus-circle fa-fw"></i> <span th:text="#{button.unregister}"></span>
            </a>
            <a class="btn btn-success mb-2" th:if="${!isUserRegisteredForEvent and isFutureDate}" th:href="@{/event/__${event.id}__/register}">
                <span th:text="#{button.register}"></span>
            </a>
            <div class="btn btn-secondary mb-2" th:unless="${isFutureDate}" th:text="#{info.EventEnded}"></div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
