<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.login})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">

    <div class="alert alert-danger" th:if="${param.error != null && session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"
         th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></div>
    <div class="alert alert-warning" th:if="${param.logout}" th:text="#{info.loggedOut}"></div>
    <div class="alert alert-success" th:if="${param.registered}" th:text="#{info.registerSuccess}"></div>
    <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${error}, ${exception})}"></div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <h3 class="border-bottom pb-3" th:text="#{nav.login}"></h3>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 offset-md-3">
            <form class="needs-validation" novalidate method="post" th:action="@{/login}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <input type="email" class="form-control" id="email" name="username" th:placeholder="#{user.email}" maxlength="50" required autofocus>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-3">
                        <input type="password" class="form-control" id="password" name="password" th:placeholder="#{user.password}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-3 text-center">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt fa-fw"></i> <span th:text="#{nav.login}"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
