<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head (#{nav.password})}"></div>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4 mb-4">
    <h2 class="mb-4" th:text="#{nav.password}"></h2>
</div>

<div class="container mb-4">

    <div th:replace="~{fragments :: alert-errors (${errors})}"></div>
    <div th:replace="~{fragments :: alert-success (${success})}"></div>
    <div th:replace="~{fragments :: alert-exception (${exception})}"></div>

    <div class="row">
        <div class="col-12">
            <form method="post" th:action="@{/profile/password}" th:object="${password}" enctype="multipart/form-data">
                <div class="form-group row">
                    <label for="oldPassword" class="col-2 col-form-label" th:text="#{user.oldPassword}"></label>
                    <div class="col-10">
                        <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" maxlength="250"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newPassword" class="col-2 col-form-label" th:text="#{user.newPassword}"></label>
                    <div class="col-10">
                        <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" maxlength="250"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="confirmNewPassword" class="col-2 col-form-label" th:text="#{user.confirmNewPassword}"></label>
                    <div class="col-10">
                        <input type="password" class="form-control" id="confirmNewPassword" th:field="*{confirmNewPassword}" maxlength="250"/>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success"><i class="fas fa-plus-circle"></i> <span th:text="#{save}"></span></button>
                        <a class="btn btn-secondary" th:href="@{/}"><i class="fas fa-window-close"></i> <span th:text="#{cancel}"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
