<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.profile})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3" th:text="#{nav.profile}"></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <form class="needs-validation" novalidate method="post" th:action="@{/profile}" th:object="${user}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div class="row">
            <div class="col-12 col-md-9">

                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="required" for="firstName" th:text="#{user.firstName}"></label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required" for="lastName" th:text="#{user.lastName}"></label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="required" for="email" th:text="#{user.email}"></label>
                        <input type="text" class="form-control" id="email" th:field="*{email}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required" for="mobile" th:text="#{user.mobile}"></label>
                        <input type="text" class="form-control" id="mobile" th:field="*{mobile}" maxlength="30" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="birthday" th:text="#{user.birthday}"></label>
                        <input type="text" class="form-control air-datepicker" id="birthday" th:field="*{birthday}"/>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="photo" th:text="#{user.photo}"></label>
                        <input type="file" class="form-control-file" id="photo" th:field="*{newPhoto}" accept="image/*"/>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-3">

                <div class="form-row">
                    <div class="col-12 mb-3 text-center">
                        <div class="profile-pic-wrapper">
                            <img th:src="${#strings.isEmpty(user.existingPhotoPath) ? '/img/default-user-icon.jpg' : user.existingPhotoPath}" class="img-thumbnail profile-pic" alt="User photo"/>
                        </div>
                        <div class="form-check" th:if="${not #strings.isEmpty(user.existingPhotoPath)}">
                            <input class="form-check-input" type="checkbox" th:field="*{removeExistingPhoto}" id="removePhoto">
                            <label class="form-check-label" for="removePhoto">Remove photo</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-row">
            <div class="col-12 mb-3 text-center">
                <button type="submit" class="btn btn-success"><i class="fas fa-save fa-fw"></i> <span th:text="#{button.save}"></span></button>
            </div>
        </div>
    </form>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
