<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.purchaseData})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3 th:text="#{nav.purchaseData}"></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card text-center" th:if="${purchases.isEmpty()}">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{info.NonePurchases.Header}"></h5>
                    <p class="card-text" th:text="#{info.NonePurchases.Description}"></p>
                    <a th:href="@{/shop}" class="btn btn-primary" th:text="#{button.VisitShop}"></a>
                </div>
            </div>
            <table class="table table-striped" th:if="${purchases.size() > 0}">
                <thead class="thead-dark">
                <tr>
                    <th style="width: 150px;" th:text="#{purchaseData.purchased}"></th>
                    <th style="width: 150px;" th:text="#{purchaseData.expired}"></th>
                    <th th:text="#{purchaseData.offeringName}"></th>
                    <th th:text="#{purchaseData.package}"></th>
                    <th th:text="#{programs}">
                    <th th:text="#{bonuses}">
                    <th th:text="#{purchaseData.price}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="purchase: ${purchases}">
                    <td th:text="${#temporals.format(purchase.purchased, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(purchase.expired, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${purchase.name}"></td>
                    <td th:text="#{${purchase.type.toString().toLowerCase()}}"></td>
                    <td>
                        <ul>
                            <li th:each="program: ${purchase.offering.programs}" th:text="${program.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <ul th:if="${!purchase.offering.folders.isEmpty()}">
                            <li th:each="folder: ${purchase.offering.folders}" th:text="${folder.name}"></li>
                        </ul>
                    </td>
                    <td th:text="${'$' + purchase.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
