<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.register})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3" th:text="#{nav.register}"></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="progress mb-2" style="height: 20px;">
                <div class="progress-bar progress-bar-striped" role="progressbar" id="progress"
                     style="width: 0;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            <script>
                $(function () {
                    tinymce.init({
                        selector: '.tinymce-client',
                        menubar: false,
                        init_instance_callback: function (editor) {
                            editor.on('keyup', function (e) {
                                updateProfileCompleteness();
                            });
                            updateProfileCompleteness();
                        }
                    });

                    const FIELDS_COUNT = 9;
                    let firstNameSelector = $("#firstName");
                    let lastNameSelector = $("#lastName");
                    let emailSelector = $("#email");
                    let mobileSelector = $("#mobile");
                    let passwordSelector = $("#password");
                    let confirmPasswordSelector = $("#confirmPassword");
                    let birthdaySelector = $("#birthday");
                    let fileSelector = $("#file");
                    let interestsValue = () => tinymce.activeEditor.getContent({format : 'text'});
                    let progressSelector = $("#progress");

                    [firstNameSelector, lastNameSelector, emailSelector, mobileSelector, birthdaySelector, passwordSelector, confirmPasswordSelector]
                        .forEach((selector) => selector.keyup(updateProfileCompleteness));
                    [birthdaySelector, fileSelector]
                        .forEach((selector) => selector.change(updateProfileCompleteness));

                    function updateProfileCompleteness() {
                        let have = 0;
                        if (firstNameSelector.val()) have += 1;
                        if (lastNameSelector.val()) have += 1;
                        if (emailSelector.val()) have += 1;
                        if (mobileSelector.val()) have += 1;
                        if (birthdaySelector.val()) have += 1;
                        if (passwordSelector.val()) have += 1;
                        if (confirmPasswordSelector.val()) have += 1;
                        if (fileSelector.val()) have += 1;
                        if (interestsValue()) have += 1;
                        let percentage = Math.floor(have * 100 / FIELDS_COUNT);
                        let percentageText = percentage + "%";
                        if (percentage < 49) {
                            progressSelector.removeClass("bg-success");
                            progressSelector.removeClass("bg-warn");
                            progressSelector.addClass("bg-danger");
                        } else if (percentage < 99) {
                            progressSelector.removeClass("bg-success");
                            progressSelector.addClass("bg-warning");
                            progressSelector.removeClass("bg-danger");
                        } else {
                            progressSelector.addClass("bg-success");
                            progressSelector.removeClass("bg-warning");
                            progressSelector.removeClass("bg-danger");
                        }
                        progressSelector.css("width", percentageText);
                        progressSelector.attr("aria-valuenow", percentage);
                        progressSelector.text(percentageText);
                    }
                    updateProfileCompleteness();
                });
            </script>

            <form class="needs-validation" novalidate method="post" th:action="@{/register}" th:object="${user}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="required" for="firstName" th:text="#{user.firstName}"></label>
                        <input type="text" class="form-control" id="firstName" th:field="*{firstName}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required" for="lastName" th:text="#{user.lastName}"></label>
                        <input type="text" class="form-control" id="lastName" th:field="*{lastName}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="required" for="email" th:text="#{user.email}"></label>
                        <input type="text" class="form-control" id="email" th:field="*{email}" maxlength="50" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required" for="mobile" th:text="#{user.mobile}"></label>
                        <input type="text" class="form-control" id="mobile" th:field="*{mobile}" maxlength="30" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="required" for="password" th:text="#{user.password}"></label>
                        <input type="password" class="form-control" id="password" th:field="*{password}" maxlength="30" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required" for="confirmPassword" th:text="#{user.confirmPassword}"></label>
                        <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}" maxlength="30" required>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label for="birthday" th:text="#{user.birthday}"></label>
                        <input type="text" class="form-control air-datepicker" id="birthday" th:field="*{birthday}"/>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="photo" th:text="#{user.photo}"></label>
                        <div class="custom-file" id="photo">
                            <input type="file" class="custom-file-input" id="file" accept="image/*" th:field="*{newPhoto}">
                            <label class="custom-file-label" for="file"></label>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="interests" th:text="#{user.interests}"></label>
                        <textarea class="tinymce-client form-control" id="interests" th:field="*{interests}" maxlength="2000" required></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 mb-3 text-center">
                        <button type="submit" class="btn btn-success"><i class="fas fa-user-plus fa-fw"></i> <span th:text="#{nav.register}"></span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
