<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.cart})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 th:text="#{nav.cart}"></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{purchaseData.no}"></th>
                    <th th:text="#{purchaseData.offeringName}"></th>
                    <th th:text="#{purchaseData.package}"></th>
                    <th th:text="#{purchaseData.price}"></th>
                    <th th:text="#{button.actions}" style="width: 1%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem,iter : ${userCart.cartItems}">
                    <td th:text="${iter.index + 1}"></td>
                    <td th:text="${cartItem.name}"></td>
                    <td th:text="#{${cartItem.type.toString().toLowerCase()}}"></td>
                    <td>
                        <span th:classappend="${cartItem.discount != null} ? 'line-through'" th:text="${'$' + cartItem.price}"></span>
                        <span class="badge badge-success" th:if="${cartItem.discount != null}" th:text="${'-' + cartItem.discount + '%'}"></span>
                        <br/><span th:if="${cartItem.discount != null}" th:text="${'$' + cartItem.discountPrice}"></span>
                    </td>
                    <td>
                        <form th:action="@{/cart}" method="post">
                            <input type="hidden" name="offeringId" th:value="${cartItem.id}">
                            <button type="submit" name="removeItem" th:value="${cartItem.id}" class="btn btn-danger" th:title="#{button.delete}"><i class="fas fa-trash-alt fa-fw"></i></button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4"><strong th:text="#{order.totalPrice}"></strong>:
                        <span th:classappend="${!userCart.totalPrice.equals(userCart.totalDiscountPrice)} ? 'line-through'" th:text="${'$' + userCart.totalPrice}"></span>
                        <span th:if="${!userCart.totalPrice.equals(userCart.totalDiscountPrice)}" th:text="${'$' + userCart.totalDiscountPrice}"></span>
                    </td>
                </tr>
                </tfoot>
            </table>
            <div class="text-center" th:if="${!userCart.cartItems.isEmpty()}">
                <a th:href="@{/shop}" class="btn btn-primary"><i class="fas fa-shopping-cart fa-fw"></i> <span th:text="#{cart.continueShopping}"></span></a>
                <a th:href="@{/create-order}" class="btn btn-success"><i class="fas fa-credit-card fa-fw"></i> <span th:text="#{cart.createOrder}"></span></a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
