<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${offering.name} + ' - ' + #{offering})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3"><a th:href="@{/shop}" th:text="#{nav.shop}"></a>
                / <span th:text="#{offering} + ' \'' + ${offering.name} + '\''"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${error}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row mb-2" th:if="${offering.purchased}">
                    <div class="col-12 bg-info text-white p-3" ><i class="fas fa-check fa-fw"></i> <span th:text="#{shop.item.offering.AlreadyPurchased}"></span></div>
                </div>
            </div>

            <strong th:text="#{offering.description}"></strong>:
            <p th:utext="${offering.description}"></p>

            <strong th:text="#{offering.package}"></strong>: <span th:text="#{${offering.type.toString().toLowerCase()}}"></span>

            <br/><strong th:text="#{programs}"></strong>:
            <ol>
                <li th:each="program: ${offering.programs}">
                    <a th:href="@{/program/__${program.id}__/preview}" th:text="${program.name}"></a>
                </li>
            </ol>

            <div th:if="${!offering.folders.isEmpty()}">
                <strong th:text="#{bonuses}"></strong>:
                <ol>
                    <li th:each="folder: ${offering.folders}">
                        <a th:href="@{/bonus/__${folder.id}__/preview}" th:text="${folder.name}"></a>
                    </li>
                </ol>
            </div>

            <strong th:text="#{offering.price}"></strong>:
            <span th:classappend="${offering.discount != null} ? 'line-through'" th:text="${'$' + offering.price}"></span>
            <span class="badge badge-success" th:if="${offering.discount != null}" th:text="${'-' + offering.discount + '%'}"></span>
            <span th:if="${offering.discount != null}" th:text="${'$' + offering.discountPrice}"></span>

            <br/><strong th:text="#{offering.term}"></strong>: <span th:text="${offering.term}"></span>

            <div class="mt-3 text-center">
                <span th:if="${!offering.purchased and offering.activated < now and (offering.deactivated == null or now < offering.deactivated)}">

                    <span class="btn btn-warning font-weight-bold mb-2" th:if="${offering.deactivated != null}">
                        <i class="far fa-clock"></i> <span th:text="#{shop.item.offering.AvailableTill} + ' ' + ${#temporals.format(offering.deactivated, 'dd.MM.yyyy HH:mm')}"></span>
                    </span>

                    <span th:if="${!offering.inCart}">
                        <form th:if="${offering.activated < now}" th:action="@{/cart}" method="post">
                            <input type="hidden" name="offeringId" th:value="${offering.id}">
                            <button type="submit" name="addItem" class="btn btn-success"><i class="fas fa-cart-plus fa-fw"></i> <span th:text="#{button.AddToCart}"></span></button>
                        </form>
                    </span>

                    <span th:if="${offering.inCart}">
                        <form th:action="@{/cart}" method="post">
                            <input type="hidden" name="offeringId" th:value="${offering.id}">
                            <span class="btn btn-success mb-2"><i class="fas fa-check-circle fa-fw"></i> <span th:text="#{shop.item.offering.AlreadyInCart}"></span></span>
                            <button type="submit" name="removeItem" class="btn btn-danger mb-2"><i class="fas fa-trash-alt fa-fw"></i> <span th:text="#{button.RemoveFromCart}"></span></button>
                        </form>
                    </span>

                </span>
                <span class="btn btn-secondary mb-2" th:if="${now < offering.activated}" th:text="#{shop.item.offering.WillBeAvailable} + ' ' + ${#temporals.format(offering.activated, 'dd.MM.yyyy HH:mm')}"></span>
                <span class="btn btn-secondary mb-2" th:if="${offering.deactivated != null and offering.deactivated < now}" th:text="#{shop.item.offering.NotAvailable}"></span>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
