<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.order} + ' #' + ${order.number})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3" th:text="#{nav.order} + ' #' + ${order.number}"></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${error}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul class="list-unstyled">
                <li><strong th:text="#{order.created}"></strong>: <span th:text="${#temporals.format(order.created, 'dd.MM.yyyy HH:mm:ss')}"></span></li>
                <li th:if="${order.purchased}"><strong th:text="#{order.purchased}"></strong>: <span th:text="${#temporals.format(order.purchased, 'dd.MM.yyyy HH:mm:ss')}"></span></li>
                <li><strong th:text="#{order.status}"></strong>: <span th:text="${order.status}" id="order-status"></span> <span class="badge badge-success" id="order-status-badge"></span></li>
            </ul>

            <div class="table-responsive">
                <table class="table table-sm">
                    <thead class="thead-light">
                    <tr>
                        <th th:if="${order.purchased}" th:text="#{purchaseData.expired}"></th>
                        <th th:text="#{purchaseData.offeringName}"></th>
                        <th th:text="#{purchaseData.package}"></th>
                        <th th:text="#{programs}">
                        <th th:text="#{bonuses}">
                        <th th:text="#{purchaseData.price}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="orderItem,iter : ${order.purchaseData}">
                        <td th:if="${order.purchased}" th:text="${#temporals.format(orderItem.expired, 'dd.MM.yyyy HH:mm:ss')}"></td>
                        <td th:text="${orderItem.name}"></td>
                        <td th:text="#{${orderItem.type.toString().toLowerCase()}}"></td>
                        <td>
                            <ol class="list-unstyled">
                                <li th:each="program: ${orderItem.offering.programs}">
                                    <a th:href="@{/program/__${program.id}__/preview}" th:text="${program.name}"></a>
                                </li>
                            </ol>
                        </td>
                        <td>
                            <ol th:if="${!orderItem.offering.folders.isEmpty()}">
                                <li th:each="bonus: ${orderItem.offering.folders}">
                                    <a th:href="@{/bonus/__${bonus.id}__/preview}" th:text="${bonus.name}"></a>
                                </li>
                            </ol>
                        </td>
                        <td th:text="${'$' + orderItem.price}"></td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr class="thead-light">
                        <td th:colspan="${order.purchased} ? 5 : 4"></td>
                        <td><span class="font-weight-bold" th:text="${'$' + order.price}"></span></td>
                    </tr>
                    </tfoot>
                </table>
            </div>

            <div th:if="${order.status == T(ua.kazo.dentalacademy.enumerated.UnifiedPaymentStatus).CREATED}">
                <form th:action="@{${checkoutUrl}}" method="post" accept-charset="utf-8" class="text-center">
                    <th:block th:each="item : ${formData}">
                        <input th:each="value : ${item.getValue()}" type="hidden" th:name="${item.getKey()} + (${item.getValue() instanceof T(java.util.List)} ? '[]' : '')" th:value="${value}"/>
                    </th:block>

                    <button th:if="${order.provider == T(ua.kazo.dentalacademy.enumerated.PaymentProvider).LIQPAY}"
                            class="liqpay-button">
                        <div class="liqpay-button-left"><img src="https://static.liqpay.ua/buttons/logo-small.png"/></div>
                        <div class="liqpay-button-right" th:text="#{button.pay}"></div>
                    </button>

                    <input th:unless="${order.provider == T(ua.kazo.dentalacademy.enumerated.PaymentProvider).LIQPAY}"
                           type="submit" class="btn btn-success" th:value="'Pay at ' + ${order.provider}"/>
                </form>
            </div>
            <div th:if="${order.status == T(ua.kazo.dentalacademy.enumerated.UnifiedPaymentStatus).SUCCESS}">
                <div th:if="${order.provider == T(ua.kazo.dentalacademy.enumerated.PaymentProvider).LIQPAY}"
                     class="text-center">
                    <a class="btn btn-primary" th:href="@{/order/__${orderNumber}__/receipt}"><i class="fas fa-file-invoice-dollar fa-fw"></i> <span th:text="#{button.sendReceipt}"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    const STATUS_CREATED = [[${T(ua.kazo.dentalacademy.enumerated.UnifiedPaymentStatus).CREATED}]];
    let orderNumber = [[${order.number}]];
    let orderStatusInitial = [[${order.status}]];
</script>
<script type="text/javascript" th:src="@{/js/refresh-order-status.js}"></script>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
