<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${program.name} + ' - ' + #{nav.shop})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3"><a th:href="@{/shop}" th:text="#{nav.shop}"></a> / <span th:text="#{program} + ' \'' + ${program.name} + ' \''"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="row mb-2" th:if="${isPurchased}">
                <div class="col-9 bg-info text-white p-3" ><i class="fas fa-check fa-fw"></i> <span th:text="#{shop.item.program.AlreadyPurchased}"></span></div>
                <a class="col-3 bg-info text-white p-3 border-left text-center text-decoration-none" th:href="@{/program/__${program.id}__}">
                    <i class="fas fa-play-circle fa-fw"></i> <span th:text="#{shop.item.program.StartLearning}"></span>
                </a>
            </div>

<!--            <a th:if="${!isPurchased}" class="btn btn-primary float-right" th:href="@{/program/__${program.id}__/preview}"><i class="fas fa-play-circle fa-fw"></i> Preview</a>-->
            <h5 th:text="#{program.description}"></h5>
            <p th:utext="${program.fullDescription}"></p>

            <h5 th:text="#{offerings}"></h5>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th th:text="#{offering.name}"></th>
                        <th th:text="#{offering.package}">
                        <th th:text="#{programs}">
                        <th th:text="#{bonuses}">
                        <th th:text="#{offering.price}"></th>
                        <th th:text="#{offering.term}"></th>
                        <th th:text="#{button.actions}" style="width: 1%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${offerings.isEmpty()}">
                        <td colspan="7" class="text-center" th:text="#{shop.item.NoOfferings}"></td>
                    </tr>
                    <tr th:each="offering : ${offerings}">
                        <td><a th:href="@{/shop/offering/__${offering.id}__}" th:text="${offering.name}"></a></td>
                        <td th:text="#{${offering.type.toString().toLowerCase()}}"></td>
                        <td>
                            <ol>
                                <li th:each="program: ${offering.programs}">
                                    <a th:href="@{/program/__${program.id}__/preview}" th:text="${program.name}"></a>
                                </li>
                            </ol>
                        </td>
                        <td>
                            <div th:if="${!offering.folders.isEmpty()}">
                                <ol>
                                    <li th:each="folder: ${offering.folders}">
                                        <a th:href="@{/bonus/__${folder.id}__/preview}" th:text="${folder.name}"></a>
                                    </li>
                                </ol>
                            </div>
                        </td>
                        <td>
                            <span th:classappend="${offering.discount != null} ? 'line-through'" th:text="${'$' + offering.price}"></span>
                            <span class="badge badge-success" th:if="${offering.discount != null}" th:text="${'-' + offering.discount + '%'}"></span>
                            <br/><span th:if="${offering.discount != null}" th:text="${'$' + offering.discountPrice}"></span>
                        </td>
                        <td class="text-center" th:text="${offering.term}"></td>
                        <td class="text-center">
                            <i th:if="${offering.purchased}" class="fas fa-check-circle fa-2x text-success" th:title="#{shop.item.offering.AlreadyPurchased}"></i>
                            <span th:if="${!offering.purchased}">

                                <span th:if="${!offering.inCart}">
                                    <form th:if="${offering.activated < now}" th:action="@{/cart}" method="post">
                                        <input type="hidden" name="offeringId" th:value="${offering.id}">
                                        <button type="submit" name="addItem" class="btn btn-success" th:title="#{button.AddToCart}"><i class="fas fa-cart-plus fa-fw"></i></button>
                                    </form>
                                </span>

                                <span th:if="${offering.inCart}">
                                    <form th:action="@{/cart}" method="post">
                                        <input type="hidden" name="offeringId" th:value="${offering.id}">
                                        <button type="submit" name="removeItem" class="btn btn-danger" th:title="#{button.RemoveFromCart}"><i class="fas fa-trash-alt fa-fw"></i></button>
                                    </form>
                                </span>

                                <span th:if="${now < offering.activated}" th:text="#{shop.item.offering.WillBeActive} + ' ' + ${#temporals.format(offering.activated, 'dd.MM.yyyy HH:mm')}"></span>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
