<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.shop})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3" th:text="#{nav.shop}"></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div th:replace="fragments :: search-form (${search}, ${pageResult.totalPages})"></div>

            <div th:if="${programs.isEmpty()}" class="card text-center">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{info.NoData}"></h5>
                    <p class="card-text" th:text="#{info.ChangeSearchParams}"></p>
                </div>
            </div>

            <div th:if="${!programs.isEmpty()}" class="card-columns">
                <div class="card text-center" th:each="program: ${programs}">
                    <img class="card-img-top" th:if="${program.image}" th:src="${program.image}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${program.name}"></h5>
                        <p class="card-text" th:utext="${program.description}"></p>
                        <span th:text="#{shop.item.from}"></span>
                        <h3 th:text="${'$' + program.startingPrice}"></h3>
                        <a th:href="@{/shop/program/__${program.id}__}" class="btn btn-success" th:text="#{button.WatchDetails}"></a>
                    </div>
                </div>
            </div>

            <nav th:replace="fragments :: pagination (${pageResult}, ${search})"></nav>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
