<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head (#{nav.shop})}"></div>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4 mb-4">
    <h2 class="mb-4" th:text="#{nav.shop}"></h2>
</div>

<div class="container mb-4">

    <div th:replace="~{fragments :: alert-errors (${errors})}"></div>
    <div th:replace="~{fragments :: alert-success (${success})}"></div>
    <div th:replace="~{fragments :: alert-exception (${exception})}"></div>

    <div class="row">
        <div class="col-12">
            <div class="card text-center" th:if="${programs.isEmpty()}">
                <div class="card-body">
                    <h5 class="card-title">Shop is empty</h5>
                    <p class="card-text">If you administrator of this website, add new programs for purchase</p>
                    <a th:href="@{/shop}" class="btn btn-primary">Add programs</a>
                </div>
            </div>
            <div class="card-columns">
                <div class="card text-center" th:each="program: ${programs}">
                    <img class="card-img-top" th:if="${program.image}" th:src="${program.image}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${program.name}"></h5>
                        <p class="card-text" th:utext="${program.description}"></p>
<!--                        <a th:href="@{'/program/' + ${program.id}}" class="btn btn-primary" th:if="${program.bought}">Continue</a>-->
                        <a th:href="@{'/buy/program/' + ${program.id}}" class="btn btn-success">Watch Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
