<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.users})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3><a th:href="@{/admin}" th:text="#{nav.adminpanel}"></a> / <span th:text="#{nav.users}"></span></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{user.created}"></th>
                    <th th:text="#{user.email}"></th>
                    <th th:text="#{user.firstName}"></th>
                    <th th:text="#{user.lastName}"></th>
                    <th th:text="#{user.mobile}"></th>
                    <th th:text="#{user.birthday}"></th>
                    <th th:text="#{user.enabled}"></th>
                    <th th:text="#{user.roles}"></th>
                    <th th:text="#{button.actions}" style="width: 1%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${users}">
                    <td th:text="${#temporals.format(user.created, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.firstName}"></td>
                    <td th:text="${user.lastName}"></td>
                    <td th:text="${user.mobile}"></td>
                    <td th:text="${user.birthday}"></td>
                    <td>
                        <i th:if="${user.enabled}" class="fas fa-check-circle fa-2x fa-fw text-success"></i>
                        <i th:unless="${user.enabled}" class="fas fa-times-circle fa-2x fa-fw text-danger"></i>
                    </td>
                    <td>
                        <ul>
                            <li th:each="role: ${user.roles}" th:text="${role}"></li>
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/admin/user/edit/__${user.id}__}" th:title="#{button.edit}" class="btn btn-primary"><i class="fas fa-edit 2 fa-fw"></i></a>
                            <a th:href="@{/admin/user/delete/__${user.id}__}" th:title="#{button.deactivate}" class="btn btn-warning"><i class="fas fa-trash-alt fa-fw"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="fragments :: pagination (${pageResult}, null)"></nav>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
