<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.admin})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3 class="border-bottom pb-3" th:text="#{nav.adminpanel}"></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="pb-2">
                <a th:href="@{/admin/programs}" class="btn btn-primary"><i class="fas fa-book fa-fw"></i> <span th:text="#{programs}"></span></a>
                <a th:href="@{/admin/program/add}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i> <span th:text="#{program}"></span></a>
                <a th:href="@{/admin/folder/add(category=MODULE)}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i> <span th:text="#{module}"></span></a>
            </div>
            <div class="pb-2">
                <a th:href="@{/admin/bonuses}" class="btn btn-primary"><i class="fas fa-gift fa-fw"></i> <span th:text="#{bonuses}"></span></a>
                <a th:href="@{/admin/folder/add(category=BONUS)}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i></a>
            </div>
            <div class="pb-2">
                <a th:href="@{/admin/offerings}" class="btn btn-primary"><i class="fas fa-file-invoice-dollar fa-fw"></i> <span th:text="#{offerings}"></span></a>
                <a th:href="@{/admin/offering/add}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i></a>
            </div>
            <div class="pb-2">
                <a th:href="@{/admin/orders}" class="btn btn-primary"><i class="fas fa-shopping-bag fa-fw"></i> <span th:text="#{nav.orders}"></span></a>
<!--            <a th:href="@{/admin/order/add}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i></a>-->
            </div>
            <div class="pb-2">
                <a th:href="@{/admin/users}" class="btn btn-primary"><i class="fas fa-users fa-fw"></i> <span th:text="#{nav.users}"></span></a>
<!--            <a th:href="@{/admin/user/add}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i></a>-->
            </div>
            <div class="pb-2">
                <a th:href="@{/admin/events}" class="btn btn-primary"><i class="fas fa-calendar-alt fa-fw"></i> <span th:text="#{events}"></span></a>
<!--            <a th:href="@{/admin/event/add}" class="btn btn-success"><i class="fas fa-plus-circle fa-fw"></i></a>-->
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
