<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.editOffering})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3><a th:href="@{/admin}" th:text="#{nav.adminpanel}"></a> / <a th:href="@{/admin/offerings}" th:text="#{nav.offerings}"></a> / <span th:text="#{nav.editOffering}"></span></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" th:object="${offering}" th:action="@{/admin/offering/edit/__${offering.id}__}">
                <h4 th:text="#{header.MainInfo}"></h4>

                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row required">
                    <label for="name" class="col-2 col-form-label" th:text="#{programs}"></label>
                    <div class="col-10 input-group">
                        <select class="form-control selectpicker" multiple th:field="*{programs}" required>
                            <option th:each="program: ${programs}" th:value="${program.id}" th:text="${program.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label" th:text="#{bonuses}"></label>
                    <div class="col-10 input-group">
                        <select class="form-control selectpicker" multiple th:field="*{folders}">
                            <option th:each="bonus: ${bonuses}" th:value="${bonus.id}" th:text="${bonus.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="name" class="col-2 col-form-label" th:text="#{offering.name}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="250" required/>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="category" class="col-2 col-form-label" th:text="#{offering.package}"></label>
                    <div class="col-10">
                        <select class="form-control" id="category" th:field="*{type}" required>
                            <option th:each="package: ${T(ua.kazo.dentalacademy.enumerated.OfferingType).values()}"
                                    th:value="${package.name()}" th:text="#{${package.name().toLowerCase()}}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="price" class="col-2 col-form-label" th:text="#{offering.price}"></label>
                    <div class="col-10">
                        <input type="number" class="form-control" id="price" th:field="*{price}" min="0.01" step="0.01" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="discount" class="col-2 col-form-label" th:text="#{offering.discount}"></label>
                    <div class="col-10">
                        <input type="number" class="form-control" id="discount" th:field="*{discount}" min="1" max="99"/>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="term" class="col-2 col-form-label" th:text="#{offering.term}"></label>
                    <div class="col-10">
                        <input type="number" class="form-control" id="term" th:field="*{term}" min="1" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="activated" class="col-2 col-form-label" th:text="#{offering.activated}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control datetimepicker" id="activated" th:field="*{activated}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="deactivated" class="col-2 col-form-label" th:text="#{offering.deactivated}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control datetimepicker" id="deactivated" th:field="*{deactivated}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-2 col-form-label" th:text="#{offering.description}"></label>
                    <div class="col-10">
                        <textarea class="form-control" id="description" th:field="*{description}" maxlength="2000" rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save fa-fw"></i> <span th:text="#{button.save}"></span></button>
                        <a class="btn btn-secondary" th:href="@{/admin/offerings}"><i class="fas fa-window-close fa-fw"></i> <span th:text="#{button.cancel}"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
