<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.offerings})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3><a th:href="@{/admin}" th:text="#{nav.adminpanel}"></a> / <span th:text="#{nav.offerings}"></span></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{offering.name}"></th>
                    <th th:text="#{offering.package}"></th>
                    <th th:text="#{offering.price}"></th>
                    <th th:text="#{offering.term}"></th>
                    <th th:text="#{offering.activated}"></th>
                    <th th:text="#{offering.deactivated}"></th>
                    <th th:text="#{button.actions}" style="width: 1%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="offering: ${offerings}">
                    <td th:text="${offering.name}"></td>
                    <td th:text="#{${offering.type.toString().toLowerCase()}}"></td>
                    <td>
                        <span th:classappend="${offering.discount != null} ? 'line-through'" th:text="${'$' + offering.price}"></span>
                        <span class="badge badge-success" th:if="${offering.discount != null}" th:text="${'-' + offering.discount + '%'}"></span>
                        <br/><span th:if="${offering.discount != null}" th:text="${'$' + offering.discountPrice}"></span>
                    </td>
                    <td th:text="${offering.term}"></td>
                    <td th:text="${#temporals.format(offering.activated, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${#temporals.format(offering.deactivated, 'dd.MM.yyyy HH:mm')}"></td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/admin/offering/edit/__${offering.id}__}" class="btn btn-primary" th:title="#{button.edit}"><i class="fas fa-edit fa-fw"></i></a>
                            <a th:if="${offering.deactivated == null or offering.deactivated > now}" th:href="@{/admin/offering/deactivate/__${offering.id}__(page=${pageResult.pageable.pageNumber},size=${pageResult.pageable.pageSize})}" class="btn btn-warning" th:title="#{button.deactivate}"><i class="fas fa-stop-circle fa-fw"></i></a>
                            <a th:unless="${offering.deactivated == null or offering.deactivated > now}" th:href="@{/admin/offering/activate/__${offering.id}__(page=${pageResult.pageable.pageNumber},size=${pageResult.pageable.pageSize})}" class="btn btn-success" th:title="#{button.activate}"><i class="fas fa-play-circle fa-fw"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="fragments :: pagination (${pageResult}, null)"></nav>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
