<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.events})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3 class="border-bottom pb-3"><a th:href="@{/admin}" th:text="#{nav.adminpanel}"></a> / <span th:text="#{nav.events}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{event.image}" style="width: 1%;"></th>
                    <th th:text="#{event.date}"></th>
                    <th th:text="#{event.name}"></th>
<!--                    <th th:text="#{event.description}"></th>-->
                    <th th:text="#{button.actions}" style="width: 1%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event: ${events}">
                    <td><img class="rounded" style="max-width: 100px;" th:if="${event.image}" th:src="${event.image}"></td>
                    <td th:text="${#temporals.format(event.date, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${event.name}"></td>
<!--                    <td th:text="${event.description}"></td>-->
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/admin/event/edit/__${event.id}__}" th:title="#{button.edit}" class="btn btn-primary"><i class="fas fa-edit fa-fw"></i></a>
                            <a th:href="@{/admin/event/delete/__${event.id}__}" th:title="#{button.deactivate}" class="btn btn-warning"><i class="fas fa-trash-alt fa-fw"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="fragments :: pagination (${pageResult}, null)"></nav>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
