<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.editFolder})}"></title>
    <script type="text/javascript" th:src="@{/js/admin-folder-form.js}"></script>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div th:replace="~{fragments :: admin-menu}"></div>
        </div>

        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <h3 class="border-bottom pb-3"><a th:href="@{/admin}" th:text="#{nav.adminPanel}"></a> / <span th:text="#{nav.editFolder}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>

            <form method="post" th:object="${folder}" th:action="@{/admin/folder/edit/__${folder.id}__}">
                <h4 th:text="#{header.MainInfo}"></h4>

                <div class="form-group row required">
                    <label for="category" class="col-2 col-form-label" th:text="#{folder.category}"></label>
                    <div class="col-10">
                        <select class="form-control selectpicker" id="category" th:field="*{category}" required>
                            <option th:each="category: ${T(ua.kazo.dentalacademy.enumerated.FolderCategory).values()}"
                                    th:value="${category.name()}" th:text="#{${category.name().toLowerCase()}}"></option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row required">
                    <label for="name" class="col-2 col-form-label" th:text="#{program}"></label>
                    <div class="col-10 input-group">
                        <select class="form-control selectpicker" multiple th:field="*{programs}" required th:disabled="${#strings.equals(folder.category, 'BONUS')}">
                            <option th:each="program: ${programs}" th:value="${program.id}" th:text="${program.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row required">
                    <label for="name" class="col-2 col-form-label" th:text="#{folder.name}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="250" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="image" class="col-2 col-form-label" th:text="#{folder.image}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control" id="image" th:field="*{image}" maxlength="250"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-2 col-form-label" th:text="#{folder.description}"></label>
                    <div class="col-10">
                        <textarea class="tinymce form-control" id="description" th:field="*{description}" maxlength="2000" rows="5"></textarea>
                    </div>
                </div>

                <h4 th:text="#{folder.items}"></h4>
                <table class="table" id="items">
                    <thead class="thead-light">
                    <tr>
                        <th th:text="#{folder.item.sorting}" style="width: 1%;"></th>
                        <th th:text="#{folder.item.name}"></th>
                        <th th:text="#{folder.item.link}"></th>
                        <th th:text="#{folder.item.image}"></th>
                        <th th:text="#{folder.item.type}"></th>
                        <th th:text="#{button.actions}" style="width: 1%;"></th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    <tr th:each="item,iter: ${folder.items}">
                        <td class="text-center">
                            <input type="hidden" th:field="*{items[__${iter.index}__].ordering}" class="database-ordering"/>
                            <i class="fas fa-arrows-alt handle"></i>
                        </td>
                        <td>
                            <input type="hidden" th:field="*{items[__${iter.index}__].id}"/>
                            <input type="hidden" th:field="*{items[__${iter.index}__].folderId}"/>
                            <input type="text" class="form-control" th:field="*{items[__${iter.index}__].name}" maxlength="250" required/>
                        </td>
                        <td>
                            <input type="text" class="form-control" th:field="*{items[__${iter.index}__].link}" maxlength="250" required/>
                        </td>
                        <td>
                            <input type="text" class="form-control" th:field="*{items[__${iter.index}__].image}" maxlength="250"/>
                        </td>
                        <td>
                            <div class="input-group">
                                <select class="form-control selectpicker" th:field="*{items[__${iter.index}__].type}" required>
                                    <option th:each="type: ${T(ua.kazo.dentalacademy.enumerated.FolderItemType).values()}"
                                            th:value="${type.name()}" th:text="#{${type.name().toLowerCase()}}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button type="submit" name="removeRow" th:value="${iter.index}" class="btn btn-danger" th:title="#{button.delete}" formnovalidate><i class="fas fa-trash-alt fa-fw"></i></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: right;">
                            <button type="submit" name="addRow" class="btn btn-success" formnovalidate><i class="fas fa-plus-circle fa-fw"></i> <span th:text="#{button.AddItem}"></span></button>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save fa-fw"></i> <span th:text="#{button.save}"></span></button>
                        <a class="btn btn-secondary" th:href="@{/admin/programs}"><i class="fas fa-window-close fa-fw"></i> <span th:text="#{button.cancel}"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
