<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.addFolder})}"></title>
    <script type="text/javascript" th:src="@{/js/admin-folder-form.js}"></script>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12 col-md-4 col-lg-3 col-xl-2">
            <div th:replace="~{fragments :: admin-menu}"></div>
        </div>

        <div class="col-12 col-md-8 col-lg-9 col-xl-10">
            <h3 class="border-bottom pb-3"><a th:href="@{/admin}" th:text="#{nav.adminPanel}"></a> / <span th:text="#{nav.addFolder}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${error}, ${exception})}"></div>

            <h4 class="mb-3" th:text="#{header.MainInfo}"></h4>
            <!-- 'class="needs-validation" novalidate' not applied here because of incompatibility with folder items -->
            <form method="post" th:object="${folder}" th:action="@{/admin/folder/add}">
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="required" for="name" th:text="#{folder.name}"></label>
                        <input type="text" class="form-control" id="name" th:field="*{name}" maxlength="250" required/>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        <label class="required" for="programs" th:text="#{program}"></label>
                        <select class="form-control selectpicker" id="programs" th:field="*{programs}" required th:disabled="${#strings.equals(folder.category, 'BONUS')}">
                            <option th:each="program: ${programs}" th:value="${program.id}" th:text="${program.name}"></option>
                        </select>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label class="required" for="category" th:text="#{folder.category}"></label>
                        <select class="form-control selectpicker" id="category" th:field="*{category}" required>
                            <option th:each="category: ${T(ua.kazo.dentalacademy.enumerated.FolderCategory).values()}"
                                    th:value="${category.name()}" th:text="#{${category.name().toLowerCase()}}"></option>
                        </select>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label for="image" th:text="#{folder.image}"></label>
                        <input type="text" class="form-control" id="image" th:field="*{image}" maxlength="250"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="required" for="shortDescription" th:text="#{folder.shortDescription}"></label>
                        <!-- removed 'required' for textarea because class 'needs-validation' not present -->
                        <textarea class="tinymce form-control" id="shortDescription" th:field="*{shortDescription}" rows="5"></textarea>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col mb-3">
                        <label class="required" for="fullDescription" th:text="#{folder.fullDescription}"></label>
                        <!-- removed 'required' for textarea because class 'needs-validation' not present -->
                        <textarea class="tinymce form-control" id="fullDescription" th:field="*{fullDescription}" rows="5"></textarea>
                        <div class="invalid-feedback" th:text="#{validation.fieldIsRequired}"></div>
                    </div>
                </div>

                <h4 class="mb-3" th:text="#{folder.items}"></h4>
                <div class="table-responsive">
                    <table class="table" id="items">
                        <thead class="thead-light">
                        <tr>
                            <th style="width: 1%;"></th>
                            <th th:text="#{folder.item.name}"></th>
                            <th th:text="#{folder.item.link}"></th>
                            <th th:text="#{folder.item.image}"></th>
                            <th th:text="#{folder.item.type}"></th>
                            <th th:text="#{button.actions}" style="width: 1%;"></th>
                        </tr>
                        </thead>
                        <tbody class="sortable">
                        <tr th:each="item,iter: ${folder.items}">
                            <td class="text-center">
                                <input type="hidden" th:field="*{items[__${iter.index}__].ordering}" class="database-ordering"/>
                                <i class="fas fa-arrows-alt handle"></i>
                            </td>
                            <td>
                                <input type="text" class="form-control input-min-width" th:field="*{items[__${iter.index}__].name}" maxlength="250" required/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-min-width" th:field="*{items[__${iter.index}__].link}" maxlength="250" required/>
                            </td>
                            <td>
                                <input type="text" class="form-control input-min-width" th:field="*{items[__${iter.index}__].image}" maxlength="250"/>
                            </td>
                            <td>
                                <div class="input-group">
                                    <select class="form-control selectpicker" th:field="*{items[__${iter.index}__].type}" required>
                                        <option th:each="type: ${T(ua.kazo.dentalacademy.enumerated.FolderItemType).values()}"
                                                th:value="${type.name()}" th:text="#{${type.name().toLowerCase()}}"></option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <button type="submit" name="removeRow" th:value="${iter.index}" class="btn btn-danger" th:title="#{button.delete}" formnovalidate><i class="fas fa-trash-alt fa-fw"></i></button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="6" style="text-align: right;">
                                <button type="submit" name="addRow" class="btn btn-success" formnovalidate><i class="fas fa-plus-circle fa-fw"></i> <span th:text="#{button.AddItem}"></span></button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="form-row">
                    <div class="col mb-3 text-center">
                        <button type="submit" class="btn btn-success mb-3"><i class="fas fa-plus-circle fa-fw"></i> <span th:text="#{button.add}"></span></button>
                        <a class="btn btn-secondary mb-3" th:href="@{/admin/programs}"><i class="fas fa-window-close fa-fw"></i> <span th:text="#{button.cancel}"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
