<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head (#{nav.editFolder})}"></div>
    <script type="text/javascript" th:src="@{/js/admin-folder-form.js}"></script>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4 mb-4">
    <h2 class="mb-4" th:text="#{nav.editFolder}"></h2>
</div>

<div class="container mb-4">

    <div th:replace="~{fragments :: alert-errors (${errors})}"></div>
    <div th:replace="~{fragments :: alert-success (${success})}"></div>
    <div th:replace="~{fragments :: alert-exception (${exception})}"></div>

    <div class="row">
        <div class="col-12">
            <form method="post" th:object="${folder}" th:action="@{'/admin/folder/edit/' + ${folder.id}}">
                <h3>Main info</h3>

                <div class="form-group row required">
                    <label for="category" class="col-2 col-form-label col-form-label-sm" th:text="#{folder.category}"></label>
                    <div class="col-10">
                        <select class="form-control form-control-sm" id="category" th:field="*{category}" required>
                            <option th:each="category: ${categories}" th:value="${category.name()}" th:text="${category.name()}"></option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:field="*{id}"/>
                <div class="form-group row required">
                    <label for="name" class="col-2 col-form-label col-form-label-sm" th:text="Program"></label>
                    <div class="col-10 input-group input-group-sm">
                        <select class="form-control form-control-sm selectpicker" multiple th:field="*{programs}" required th:disabled="${#strings.equals(folder.category, 'BONUS')}">
                            <option th:each="program: ${programs}" th:value="${program.id}" th:text="${program.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-2 col-form-label col-form-label-sm" th:text="#{folder.name}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control form-control-sm" id="name" th:field="*{name}" maxlength="250" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="image" class="col-2 col-form-label col-form-label-sm" th:text="#{folder.image}"></label>
                    <div class="col-10">
                        <input type="text" class="form-control form-control-sm" id="image" th:field="*{image}" maxlength="250"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-2 col-form-label col-form-label-sm" th:text="#{folder.description}"></label>
                    <div class="col-10">
                        <textarea class="form-control form-control-sm" id="description" th:field="*{description}" maxlength="2000" rows="5"></textarea>
                    </div>
                </div>

                <h3>Items</h3>
                <table class="table table-sm" id="items">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col" style="width: 1%;">Sort</th>
                        <th scope="col">Name</th>
                        <th scope="col">Link</th>
                        <th scope="col">Image</th>
                        <th scope="col">Type</th>
                        <th scope="col" style="width: 1%;"></th>
                    </tr>
                    </thead>
                    <tbody class="sortable">
                    <tr th:each="item,iter: ${folder.items}">
                        <td class="text-center">
                            <input type="hidden" th:field="*{items[__${iter.index}__].ordering}" class="database-ordering"/>
                            <i class="fas fa-arrows-alt handle"></i>
                        </td>
                        <td>
                            <input type="hidden" th:field="*{items[__${iter.index}__].id}"/>
                            <input type="hidden" th:field="*{items[__${iter.index}__].folderId}"/>
                            <input type="text" class="form-control form-control-sm" th:field="*{items[__${iter.index}__].name}" maxlength="250" required/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" th:field="*{items[__${iter.index}__].link}" maxlength="250" required/>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" th:field="*{items[__${iter.index}__].image}" maxlength="250"/>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <select class="custom-select" th:field="*{items[__${iter.index}__].type}" required>
                                    <option th:each="type: ${types}" th:value="${type.name()}" th:text="${type.name()}"></option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <button type="submit" name="removeRow" th:value="${iter.index}" class="btn btn-danger" formnovalidate><i class="fas fa-trash-alt fa-fw"></i></button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" style="text-align: right;">
                            <button type="submit" name="addRow" class="btn btn-success" formnovalidate><i class="fas fa-plus-circle fa-fw"></i> <span th:text="#{add.item}"></span></button>
                        </td>
                    </tr>
                    </tfoot>
                </table>

                <div class="form-group row">
                    <div class="col-12 text-center">
                        <button type="submit" class="btn btn-success"><i class="fas fa-save fa-fw"></i> <span th:text="#{save}"></span></button>
                        <a class="btn btn-secondary" th:href="@{/admin/programs}"><i class="fas fa-window-close fa-fw"></i> <span th:text="#{cancel}"></span></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
