<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${selectedItem.name} + ' - ' + ${folder.name} + ' - ' + ${program.name} + ' - ' + #{nav.myPrograms})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3><a th:href="@{/}" th:text="#{nav.myPrograms}"></a> / <a th:href="@{/program/__${program.id}__}" th:text="${program.name}"></a> / <a th:href="@{/program/__${program.id}__/folder/__${folder.id}__}" th:text="${folder.name}"></a> / <span th:text="${selectedItem.name}"></span></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

<!--            <p th:utext="${program.description}"></p>-->

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" th:if="${isModulesExist}">
                            <a class="nav-link"
                               th:classappend="${#httpServletRequest.requestURI == '/program/' + programId + '/modules'} ? 'active'"
                               th:href="@{/program/__${programId}__/modules}" th:text="#{modules}"></a>
                        </li>
                        <li class="nav-item" th:if="${isQaExist}">
                            <a class="nav-link"
                               th:classappend="${#httpServletRequest.requestURI == '/program/' + programId + '/qa'} ? 'active'"
                               th:href="@{/program/__${programId}__/qa}" th:text="#{qa}"></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-3 mb-4">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action"
                                   th:each="folderItem: ${folder.items}"
                                   th:href="@{/program/__${program.id}__/folder/__${folder.id}__/item/__${folderItem.id}__}"
                                   th:text="${folderItem.name}"
                                   th:classappend="${selectedItem.id == folderItem.id} ? 'active'"></a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9">
                            <iframe th:if="${#strings.equals(selectedItem.type, 'YOUTUBE')}"
                                    th:src="${selectedItem.link}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    style="width: 100%; min-height: 600px;" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
