<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${program.name} + ' - ' + #{nav.myPrograms})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3"><a th:href="@{/}" th:text="#{nav.myPrograms}"></a> / <span th:text="${program.name}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="accordion mb-3" id="accordion">
                <div class="card">
                    <div class="card-header" id="accordionHeading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none" type="button"
                                    data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription"
                                    th:text="#{program.description}"></button>
                        </h2>
                    </div>
                    <div id="collapseDescription" class="collapse" aria-labelledby="accordionHeading" data-parent="#accordion">
                        <div class="card-body" th:utext="${program.fullDescription}"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" th:if="${isModulesExist}">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/program/' + program.id + '/modules'} ? 'active'"
                               th:href="@{/program/__${program.id}__/modules}" th:text="#{modules}"></a>
                        </li>
                        <li class="nav-item" th:if="${isQaExist}">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/program/' + program.id + '/qa'} ? 'active'"
                               th:href="@{/program/__${program.id}__/qa}" th:text="#{qa}"></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div th:each="folder,iter: ${program.folders}">
                        <div class="row">
                            <div class="col-4 col-md-3 col-lg-2">
                                <img class="card-img-top" th:if="${folder.image}" th:src="${folder.image}"/>
                            </div>
                            <div class="col-8 col-md-9 col-lg-10">
                                <h4 th:text="${folder.name}"></h4>
                                <p th:utext="${folder.shortDescription}"></p>
                                <a th:href="@{/program/__${program.id}__/folder/__${folder.id}__}" class="btn btn-primary" th:text="#{button.learn}"></a>
                            </div>
                        </div>
                        <hr th:if="${__${iter.index}__ < program.folders.size() - 1}"/>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
