<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${selectedItem.name} + ' - ' + ${folder.name} + ' - ' + ${program.name} + ' - ' + #{nav.myPrograms})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3"><a th:href="@{/}" th:text="#{nav.myPrograms}"></a> / <a th:href="@{/program/__${program.id}__}" th:text="${program.name}"></a> / <a th:href="@{/program/__${program.id}__/folder/__${folder.id}__}" th:text="${folder.name}"></a> / <span th:text="${selectedItem.name}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="accordion mb-3" id="accordion">
                <div class="card">
                    <div class="card-header" id="accordionHeading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none" type="button"
                                    data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription"
                                    th:text="#{folder.description}"></button>
                        </h2>
                    </div>
                    <div id="collapseDescription" class="collapse" aria-labelledby="accordionHeading" data-parent="#accordion">
                        <div class="card-body" th:utext="${folder.fullDescription}"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item" th:if="${isModulesExist}">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/program/' + programId + '/modules'} ? 'active'"
                               th:href="@{/program/__${programId}__/modules}" th:text="#{modules}"></a>
                        </li>
                        <li class="nav-item" th:if="${isQaExist}">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/program/' + programId + '/qa'} ? 'active'"
                               th:href="@{/program/__${programId}__/qa}" th:text="#{qa}"></a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-3 mb-4">
                            <a class="float-right" th:href="@{/program/__${program.id}__/reset}" th:title="#{button.resetProgress}"><i class="fas fa-sync-alt fa-fw ml-1"></i></a>
                            <div class="progress mb-3" style="height: 20px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     th:style="${'width:' + folder.folderCompletePercentage + '%;'}"
                                     th:text="${folder.folderCompletePercentage + '%'}"
                                     th:aria-valuenow="${folder.folderCompletePercentage}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="list-group">
                                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                                   th:each="folderItem: ${folder.items}"
                                   th:href="@{/program/__${program.id}__/folder/__${folder.id}__/item/__${folderItem.id}__}"
                                   th:classappend="${selectedItem.id == folderItem.id} ? 'active'">
                                    <span th:text="${folderItem.name}"></span>
                                    <i th:if="${folderItem.viewedByUser}" class="fas fa-check-circle"
                                       th:classappend="${selectedItem.id != folderItem.id} ? 'text-primary'"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9">
                            <iframe th:if="${#strings.equals(selectedItem.type, 'YOUTUBE')}"
                                    th:src="${selectedItem.link}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    style="width: 100%; min-height: 600px;" allowfullscreen></iframe>
                            <div th:if="${#strings.equals(selectedItem.type, 'VIMEO')}" style="padding:56.25% 0 0 0;position:relative;">
                                <iframe th:src="${selectedItem.link}"
                                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                        frameborder="0"
                                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
