<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{error})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}" class="alert alert-danger">
                <strong th:text="|${httpStatus.value()} - ${httpStatus.reasonPhrase}|"></strong>
                <div th:utext="${message}"></div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
