<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head (#{error})}"></div>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4 mb-4">
    <div th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}" class="alert alert-danger">
        <strong th:text="|${httpStatus.value()} - ${httpStatus.reasonPhrase}|"></strong>
        <div th:utext="${message}"></div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
