<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale}">
<head th:fragment="head (title)" th:remove="tag">
    <title th:text="${title} + ' - ' + #{sitename}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:if="${!#strings.equals(#themes.code('stylesheet'), 'default')}"
          th:href="@{/webjars/bootswatch/4.6.0/dist/__${#themes.code('stylesheet')}__/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap-select/1.13.11/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.2/css/all.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/flag-icon-css/3.4.6/css/flag-icon.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/air-datepicker/2.2.3/css/datepicker.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/popper.js/1.16.1/dist/umd/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap-select/1.13.11/js/bootstrap-select.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/tinymce/5.7.0/tinymce.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/Sortable/Sortable.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bs-custom-file-input/1.3.4/dist/bs-custom-file-input.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/jquery-sortable/js/jquery-sortable.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/air-datepicker/2.2.3/js/datepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/vendor/settings.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap-form-validation.js}"></script>
    <script sec:authorize="isAuthenticated()" type="text/javascript" th:src="@{/js/common-authenticated.js}"></script>
</head>
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/}" th:text="#{sitename}"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav" sec:authorize="isAnonymous()">
                    <li class="nav-item" th:classappend="${#request.requestURI == '/login'} ? 'active'">
                        <a class="nav-link" th:href="@{/login}"><i class="fas fa-sign-in-alt fa-fw"></i> <span th:text="#{nav.login}"></span></a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.requestURI == '/register'} ? 'active'">
                        <a class="nav-link" th:href="@{/register}"><i class="fas fa-user-plus fa-fw"></i> <span th:text="#{nav.register}"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item" th:classappend="${#request.requestURI == '/shop'} ? 'active'">
                        <a class="nav-link" th:href="@{/shop}"><i class="fas fa-shopping-basket fa-fw"></i> <span th:text="#{nav.shop}"></span></a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.requestURI == '/programs'} ? 'active'">
                        <a class="nav-link" th:href="@{/programs}"><i class="fas fa-book fa-fw"></i> <span th:text="#{nav.myPrograms}"></span></a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.requestURI == '/bonuses'} ? 'active'">
                        <a class="nav-link" th:href="@{/bonuses}"><i class="fas fa-gift fa-fw"></i> <span th:text="#{nav.myBonuses}"></span></a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.requestURI == '/events'} ? 'active'">
                        <a class="nav-link" th:href="@{/events}"><i class="fas fa-calendar-alt fa-fw"></i> <span th:text="#{nav.events}"></span></a>
                    </li>
                    <li class="nav-item" th:classappend="${#request.requestURI == '/admin'} ? 'active'" sec:authorize="hasAuthority('ADMIN')">
                        <a class="nav-link" th:href="@{/admin}"><i class="fas fa-shield-alt fa-fw"></i> <span th:text="#{nav.admin}"></span></a>
                    </li>
                </ul>
                <ul class="mr-auto"></ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item" th:classappend="${#request.requestURI == '/'} ? 'active'">
                        <a class="nav-link" th:href="@{/cart}"><i class="fas fa-shopping-cart fa-fw"></i> <span th:text="#{nav.cart}"></span> <span class="badge badge-secondary" id="cart-items"></span></a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fas fa-palette fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" th:each="theme : ${T(ua.kazo.dentalacademy.enumerated.BootswatchTheme).values()}"
                               th:classappend="${#strings.equals(#themes.code('stylesheet'), theme.name().toLowerCase())} ? 'active'"
                               th:href="@{__${#request.requestURI}__(theme=__${theme.name().toLowerCase()}__)}"
                               th:text="${theme.name().toLowerCase()}"></a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <i class="fas fa-flag fa-fw"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" th:each="lang : ${T(ua.kazo.dentalacademy.enumerated.Languages).values()}"
                               th:classappend="${#strings.equals(#locale, lang.getLanguage())} ? 'active'"
                               th:href="@{__${#request.requestURI}__(lang=__${lang.getLanguage()}__)}">
                                <span th:class="${'flag-icon flag-icon-' + lang.getCountry()}"></span> <span th:text="#{${'lang.' + lang.getLanguage()}}"></span>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                            <img th:src="${#strings.isEmpty(#authentication.principal.photoName) ? '/img/default-user-icon.jpg' : '/img/transparent-pixel.png'}" class="rounded-circle menu-profile-pic" id="avatar"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" th:classappend="${#request.requestURI == '/profile'} ? 'active'" th:href="@{/profile}"><i class="fas fa-address-card fa-fw"></i> <span th:text="#{nav.profile}"></span></a>
                            <a class="dropdown-item" th:classappend="${#request.requestURI == '/profile/password'} ? 'active'" th:href="@{/profile/password}"><i class="fas fa-key fa-fw"></i> <span th:text="#{nav.password}"></span></a>
                            <a class="dropdown-item" th:classappend="${#request.requestURI == '/orders'} ? 'active'" th:href="@{/orders}"><i class="fas fa-shopping-bag fa-fw"></i> <span th:text="#{nav.ordersHistory}"></span></a>
                            <form method="post" th:action="@{/logout}">
                                <button type="submit" class="dropdown-item"><i class="fas fa-sign-out-alt fa-fw"></i> <span th:text="#{nav.logout}"></span></button>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div th:fragment="admin-menu">
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-3">
        <a class="navbar-brand d-block d-md-none" th:text="#{nav.adminMenu}"></a>
        <button class="navbar-toggler d-block d-md-none" type="button" data-toggle="collapse" data-target="#navbarAdminPanel" aria-controls="navbarAdminPanel" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse mt-2" id="navbarAdminPanel">
            <ul class="nav nav-pills flex-column w-100">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin}"
                       th:classappend="${#request.requestURI == '/admin'} ? 'active'"><i class="fas fa-chart-bar fa-fw"></i> <span th:text="#{nav.statistics}"></span></a>
                </li>
                <li class="nav-item">
                    <ul class="nav flex-row">
                        <li class="nav-item flex-fill">
                            <a class="nav-link" th:href="@{/admin/programs}"
                               th:classappend="${#request.requestURI == '/admin/programs'} ? 'active'"><i class="fas fa-book fa-fw"></i> <span th:text="#{programs}"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/program/add}"
                               th:classappend="${#request.requestURI == '/admin/program/add'} ? 'active'"><i class="fas fa-plus-circle fa-fw"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <ul class="nav flex-row">
                        <li class="nav-item flex-fill">
                            <a class="nav-link text-muted"><i class="fas fa-folder fa-fw"></i> <span th:text="#{folders}"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/folder/add(category=MODULE)}"
                               th:classappend="${#request.requestURI + '?category=' + #request.getParameter('category') == '/admin/folder/add?category=MODULE'} ? 'active'"><i class="fas fa-plus-circle fa-fw"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <ul class="nav flex-row">
                        <li class="nav-item flex-fill">
                            <a class="nav-link" th:href="@{/admin/bonuses}"
                               th:classappend="${#request.requestURI == '/admin/bonuses'} ? 'active'"><i class="fas fa-gift fa-fw"></i> <span th:text="#{bonuses}"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/folder/add(category=BONUS)}"
                               th:classappend="${#request.requestURI + '?category=' + #request.getParameter('category') == '/admin/folder/add?category=BONUS'} ? 'active'"><i class="fas fa-plus-circle fa-fw"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <ul class="nav flex-row">
                        <li class="nav-item flex-fill">
                            <a class="nav-link" th:href="@{/admin/offerings}"
                               th:classappend="${#request.requestURI == '/admin/offerings'} ? 'active'"><i class="fas fa-file-invoice-dollar fa-fw"></i> <span th:text="#{offerings}"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/offering/add}"
                               th:classappend="${#request.requestURI == '/admin/offering/add'} ? 'active'"><i class="fas fa-plus-circle fa-fw"></i></a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/orders}"
                       th:classappend="${#request.requestURI == '/admin/orders'} ? 'active'"><i class="fas fa-shopping-bag fa-fw"></i> <span th:text="#{nav.orders}"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/users}"
                       th:classappend="${#request.requestURI == '/admin/users'} ? 'active'"><i class="fas fa-users fa-fw"></i> <span th:text="#{nav.users}"></span></a>
                </li>
                <li class="nav-item">
                    <ul class="nav flex-row">
                        <li class="nav-item flex-fill">
                            <a class="nav-link" th:href="@{/admin/events}"
                               th:classappend="${#request.requestURI == '/admin/events'} ? 'active'"><i class="fas fa-calendar-alt fa-fw"></i> <span th:text="#{events}"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/event/add}"
                               th:classappend="${#request.requestURI == '/admin/event/add'} ? 'active'"><i class="fas fa-plus-circle fa-fw"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div th:fragment="alerts (errors, success, exception)">
    <div th:if="${errors}" class="alert alert-danger" th:fragment="alert-errors (errors)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 th:text="#{error}"></h5>
        <div th:each="error : ${errors}">
            <div><span th:text="#{field}"></span> <strong th:text="${error.field}"></strong> <span th:text="${error.defaultMessage != null} ? ${error.defaultMessage} : #{${error.code}}"></span></div>
        </div>
    </div>
    <div th:if="${success}" class="alert alert-success" th:fragment="alert-success (success)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="#{${success}}"></span>
    </div>
    <div th:if="${exception}" class="alert alert-danger" th:fragment="alert-exception (exception)">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <span th:text="${exception}"></span>
    </div>
</div>

<footer th:fragment="footer">
    <div class="container">
        <footer class="pt-4 my-md-4 pt-md-4 border-top">
            <div class="row">
                <div class="col-12 col-sm-4 col-md">
                    <div th:text="#{sitename}"></div>
                    <small class="d-block mb-3 text-muted">© 2020-2021</small>
                    <div class="mb-2" th:include="~{fragments :: social}"></div>
                </div>
                <div class="col-12 col-sm-4 col-md">
                    <h5>Ресурси</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Умови бронювання та відміни</a></li>
                        <li><a class="text-muted" href="#">Часті питання</a></li>
                        <li><a class="text-muted" href="#">Зворотній зв’язок</a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-4 col-md">
                    <h5>Про нас</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Команда</a></li>
                        <li><a class="text-muted" href="#">Місцезнаходження</a></li>
                        <li><a class="text-muted" href="#">Конфіденційність та умови</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</footer>

<div th:fragment="social-near-heading">
    <div class="social-icons-top-right d-none d-sm-block float-right" th:include="~{fragments :: social}"></div>
</div>

<div th:fragment="social">
    <ul class="social-icons icon-circle icon-zoom list-inline list-unstyled">
        <li><a target="_blank" title="YouTube Channel" href="https://www.youtube.com/channel/UC5Fsc-THl_lpzTuja-EOyrg"><i class="fab fa-youtube"></i></a></li>
        <li><a target="_blank" title="Instagram Page" href="https://www.instagram.com/business.stomatology/"><i class="fab fa-instagram"></i></a></li>
        <li><a target="_blank" title="Telegram Group" href="https://t.me/business_stomatology"><i class="fab fa-telegram"></i></a></li>
        <li><a target="_blank" title="Facebook Group" href="https://www.facebook.com/business.stomatology/"><i class="fab fa-facebook"></i></a></li>
    </ul>
</div>

<div th:fragment="search-form (search, count)" th:remove="tag">
    <form th:action="@{__${#request.requestURI}__}" method="get">
        <div class="form-row justify-content-between align-items-center" th:classappend="${#strings.isEmpty(search)} ? 'flex-row-reverse'">
            <div class="col-auto" th:if="${!#strings.isEmpty(search)}">
                <h6 th:text="#{info.searchResults} + ': ' + ${count}"></h6>
            </div>
            <div class="col-auto">
                <label class="sr-only" for="search" th:value="#{program.name}"></label>
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="search" name="search" autofocus th:placeholder="#{button.search}" th:value="${search}">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><i class="fas fa-search fa-fw"></i></button>
                        <a th:href="@{__${#request.requestURI}__}" class="btn btn-danger"><i class="fas fa-times-circle fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<nav th:if="${result.totalPages > 1}" th:fragment="pagination (result, search)">
    <ul class="pagination justify-content-center">
        <li th:classappend="${result.pageable.pageNumber == 0} ? 'disabled'" class="page-item">
            <a th:href="@{__${#request.requestURI}__(page=0,size=${result.pageable.pageSize},search=${search})}" class="page-link" th:text="#{button.first}"></a>
        </li>
        <li th:classappend="${result.pageable.pageNumber == 0} ? 'disabled'" class="page-item">
            <a th:href="@{__${#request.requestURI}__(page=${result.pageable.pageNumber - 1},size=${result.pageable.pageSize},search=${search})}" class="page-link" th:text="#{button.previous}"></a>
        </li>
        <li th:classappend="${result.pageable.pageNumber == i} ? 'active'" th:each="i : ${#numbers.sequence(0, result.totalPages - 1)}" class="page-item">
            <span th:if="${result.pageable.pageNumber == i}" class="page-link" th:text="${i + 1}"></span>
            <a th:unless="${result.pageable.pageNumber == i}" th:href="@{__${#request.requestURI}__(page=${i},size=${result.pageable.pageSize},search=${search})}" th:text="${i + 1}" class="page-link"></a>
        </li>
        <li th:classappend="${result.pageable.pageNumber == result.totalPages - 1} ? 'disabled'" class="page-item">
            <a th:href="@{__${#request.requestURI}__(page=${result.pageable.pageNumber + 1},size=${result.pageable.pageSize},search=${search})}" class="page-link" th:text="#{button.next}"></a>
        </li>
        <li th:classappend="${result.pageable.pageNumber == result.totalPages - 1} ? 'disabled'" class="page-item">
            <a th:href="@{__${#request.requestURI}__(page=${result.totalPages - 1},size=${result.pageable.pageSize},search=${search})}" class="page-link" th:text="#{button.last}"></a>
        </li>
    </ul>
</nav>

<!--<div th:fragment="modal">-->
<!--    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="modalLabel"></h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body"></div>-->
<!--                <div class="modal-footer">-->
<!--                    <form th:action="@{/entity/remove}" method="post">-->
<!--                        <input type="hidden" name="id" id="removeFormEntityId" value="">-->
<!--                        <button type="button" class="btn btn-danger" onclick="this.form.submit()" th:text="#{entity.remove}"></button>-->
<!--                    </form>-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}"></button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <script type="text/javascript" th:src="@{/js/entityManageButtons.js}"></script>-->
<!--</div>-->

</body>
</html>
