<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.myPrograms})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3 th:text="#{nav.myPrograms}"></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card text-center" th:if="${programs.isEmpty()}">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{info.NonePurchases.Header}"></h5>
                    <p class="card-text" th:text="#{info.NonePurchases.Description}"></p>
                    <a th:href="@{/shop}" class="btn btn-primary" th:text="#{button.VisitShop}"></a>
                </div>
            </div>
            <div class="card-columns" th:if="${programs.size() > 0}">
                <div class="card text-center" th:each="program: ${programs}">
                    <img class="card-img-top" th:if="${program.image}" th:src="${program.image}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${program.name}"></h5>
                        <div class="card-text">
                            <p th:utext="${program.description}"></p>
                        </div>
                        <a th:href="@{/program/__${program.id}__}" class="btn btn-primary" th:text="#{button.continue}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
