<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:remove="all"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Здравствуйте, <span th:text="${user.firstName}">></span>!</p>
<p>Вы успешно зарегистрировались в<b>Стоматологической академии</b>.</p>
<p>Пожалуйста, активируйте свой аккаунт, перейдя по следующей ссылке:</p>
<a th:href="@{__${host}__/activate/__${user.activationToken}__}"
    th:text="${host} + '/activate/' + ${user.activationToken}"></a>
<p>С уважением,<br /><em>Команда Стоматологической академии</em></p>
</body>
</html>
