<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.orders})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3 class="border-bottom pb-3"><a th:href="@{/admin}" th:text="#{nav.adminpanel}"></a> / <span th:text="#{nav.orders}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="card text-center" th:if="${orders.isEmpty()}">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{info.NoneOrders.Header}"></h5>
                    <p class="card-text" th:text="#{info.NoneOrders.Description}"></p>
                    <a th:href="@{/shop}" class="btn btn-primary" th:text="#{button.VisitShop}"></a>
                </div>
            </div>

            <table th:if="${orders.size() > 0}" class="table table-striped">
                <thead class="thead-dark">
                <tr>
                    <th th:text="#{order.number}"></th>
                    <th th:text="#{order.created}"></th>
                    <th th:text="#{order.status}"></th>
                    <th th:text="#{user}"></th>
                    <th th:text="#{button.actions}" style="width: 1%;"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order: ${orders}">
                    <td th:text="${order.number}"></td>
                    <td th:text="${#temporals.format(order.created, 'dd.MM.yyyy HH:mm:ss')}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:utext="${order.user.firstName + ' ' + order.user.lastName + ' | ' + order.user.email + ' | ' + order.user.mobile}"></td>
                    <td>
                        <div class="btn-group">
                            <a th:href="@{/admin/order/__${order.number}__}" class="btn btn-primary" th:title="#{button.edit}"><i class="fas fa-edit fa-fw"></i></a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <nav th:replace="fragments :: pagination (${pageResult}, null)"></nav>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
