<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.order} + ' #' + ${order.number})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 th:text="#{nav.order} + ' #' + ${order.number}"></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <ul>
                <li><strong th:text="#{user}"></strong>: <span th:text="${order.user.firstName + ' ' + order.user.lastName + ' | ' + order.user.email + ' | ' + order.user.mobile}"></span></li>
                <li><strong th:text="#{order.created}"></strong>: <span th:text="${#temporals.format(order.created, 'dd.MM.yyyy HH:mm')}"></span></li>
                <li th:if="${order.purchased}"><strong th:text="#{order.purchased}"></strong>: <span th:text="${#temporals.format(order.purchased, 'dd.MM.yyyy HH:mm')}"></span></li>
                <li><strong th:text="#{order.status}"></strong>: <span th:text="${order.status}" id="order-status"></span> <span class="badge badge-success" id="order-status-badge"></span></li>
            </ul>

            <table class="table table-sm">
                <thead class="thead-light">
                <tr>
                    <th th:if="${order.purchased}" th:text="#{purchaseData.expired}"></th>
                    <th th:text="#{purchaseData.offeringName}"></th>
                    <th th:text="#{purchaseData.package}"></th>
                    <th th:text="#{programs}">
                    <th th:text="#{bonuses}">
                    <th th:text="#{purchaseData.price}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderItem,iter : ${order.purchaseData}">
                    <td th:if="${order.purchased}" th:text="${#temporals.format(orderItem.expired, 'dd.MM.yyyy HH:mm')}"></td>
                    <td th:text="${orderItem.name}"></td>
                    <td th:text="#{${orderItem.type.toString().toLowerCase()}}"></td>
                    <td>
                        <ul>
                            <li th:each="program: ${orderItem.offering.programs}" th:text="${program.name}"></li>
                        </ul>
                    </td>
                    <td>
                        <ul th:if="${!orderItem.offering.folders.isEmpty()}">
                            <li th:each="bonus: ${orderItem.offering.folders}" th:text="${bonus.name}"></li>
                        </ul>
                    </td>
                    <td th:text="${'$' + orderItem.price}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="thead-light">
                    <td th:colspan="${order.purchased} ? 5 : 4"></td>
                    <td><span class="font-weight-bold" th:text="${'$' + order.price}"></span></td>
                </tr>
                </tfoot>
            </table>

            <div  class="alert alert-danger mt-3" role="alert" sec:authorize="hasAuthority('ADMIN')">
                <h4 class="alert-heading">Danger zone!</h4>
                <hr>
                <p>Here you can change the status of order</p>
                <form th:action="@{/admin/order/__${order.number}__/status}" method="post" accept-charset="utf-8">
                    <div class="form-row align-items-center">
                        <div class="col-auto my-1">
                            <label class="mr-sm-2 sr-only" for="orderStatus">Order status: </label>
                            <select class="form-control selectpicker" id="orderStatus" name="orderStatus">
                                <option th:each="unifiedPaymentStatus: ${T(ua.kazo.dentalacademy.enumerated.UnifiedPaymentStatus).values()}"
                                        th:value="${unifiedPaymentStatus}" th:text="${unifiedPaymentStatus}"
                                        th:selected="${unifiedPaymentStatus == order.status}"></option>
                            </select>
                        </div>
                        <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Change</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    const STATUS_CREATED = [[${T(ua.kazo.dentalacademy.enumerated.UnifiedPaymentStatus).CREATED}]];
    let orderNumber = [[${order.number}]];
    let orderStatusInitial = [[${order.status}]];
</script>
<script type="text/javascript" th:src="@{/js/refresh-order-status.js}"></script>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
