<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (#{nav.myBonuses})}"></title>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <h3 th:text="#{nav.myBonuses}"></h3>
            <hr/>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div th:replace="fragments :: search-form (${search}, ${bonuses.size()})"></div>
            <div class="card text-center" th:if="${#strings.isEmpty(search) and bonuses.isEmpty()}">
                <div class="card-body">
                    <h5 class="card-title" th:text="#{info.NoneBonuses.Header}"></h5>
                    <p class="card-text" th:text="#{info.NoneBonuses.Description}"></p>
                    <a th:href="@{/shop}" class="btn btn-primary" th:text="#{button.VisitShop}"></a>
                </div>
            </div>
            <div class="card-columns" th:if="${bonuses.size() > 0}">
                <div class="card text-center" th:each="bonus: ${bonuses}">
                    <img class="card-img-top" th:if="${bonus.image}" th:src="${bonus.image}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${bonus.name}"></h5>
                        <div class="card-text">
                            <p th:utext="${bonus.description}"></p>
                        </div>
                        <a th:href="@{/bonus/__${bonus.id}__}" class="btn btn-primary" th:text="#{button.continue}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
