<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale}">
<head>
    <title th:replace="~{fragments :: head (${bonus.name})}"></title>
    <script th:if="${#strings.equals(selectedItem.type, 'VIMEO')}" src="https://player.vimeo.com/api/player.js"></script>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container py-4">
    <div class="row">
        <div class="col-12">
            <div th:replace="~{fragments :: social-near-heading}"></div>
            <h3 class="border-bottom pb-3"><a th:href="@{/bonuses}" th:text="#{nav.myBonuses}"></a> / <a th:href="@{/bonus/__${bonus.id}__}" th:text="${bonus.name}"></a> / <span th:text="${selectedItem.name}"></span></h3>
            <div th:replace="~{fragments :: alerts (${errors}, ${success}, ${error}, ${exception})}"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="accordion mb-3" id="accordion">
                <div class="card">
                    <div class="card-header" id="accordionHeading">
                        <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left text-decoration-none" type="button"
                                    data-toggle="collapse" data-target="#collapseDescription" aria-expanded="true" aria-controls="collapseDescription"
                                    th:text="#{bonus.description}"></button>
                        </h2>
                    </div>
                    <div id="collapseDescription" class="collapse" aria-labelledby="accordionHeading" data-parent="#accordion">
                        <div class="card-body" th:utext="${bonus.fullDescription}"></div>
                    </div>
                </div>
            </div>

            <div class="card">
                <!--
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/bonus/' + bonus.id + '/videos'} ? 'active'"
                               th:href="@{/bonus/__${bonus.id}__/videos}">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/bonus/' + bonus.id + '/links'} ? 'active'"
                               th:href="@{/bonus/__${bonus.id}__/links}">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${#request.requestURI == '/bonus/' + bonus.id + '/files'} ? 'active'"
                               th:href="@{/bonus/__${bonus.id}__/files}">Files</a>
                        </li>
                    </ul>
                </div>
                -->
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-3 mb-4">
                            <a class="float-right" th:href="@{/bonus/__${bonus.id}__/reset}" th:title="#{button.resetProgress}"><i class="fas fa-sync-alt fa-fw ml-1"></i></a>
                            <div class="progress mb-3" style="height: 24px;">
                                <div class="progress-bar progress-bar-striped" role="progressbar"
                                     th:style="${'width:' + bonus.folderCompletePercentage + '%;'}"
                                     th:text="${bonus.folderCompletePercentage + '%'}"
                                     th:aria-valuenow="${bonus.folderCompletePercentage}"
                                     aria-valuemin="0"
                                     aria-valuemax="100"></div>
                            </div>
                            <div class="list-group">
                                <a class="list-group-item d-flex justify-content-between align-items-center list-group-item-action"
                                   th:each="bonusItem: ${bonus.items}"
                                   th:href="@{/bonus/__${bonus.id}__/item/__${bonusItem.id}__}"
                                   th:classappend="${selectedItem.id == bonusItem.id} ? 'active'">
                                    <span th:text="${bonusItem.name}"></span>
                                    <i th:if="${bonusItem.viewedByUser}" class="fas fa-check-circle"
                                       th:classappend="${selectedItem.id != bonusItem.id} ? 'text-primary'"></i>
                               </a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9">
                            <iframe th:if="${#strings.equals(selectedItem.type, 'YOUTUBE')}"
                                    th:src="${selectedItem.link}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    style="width: 100%; min-height: 600px;" allowfullscreen></iframe>
                            <div th:if="${#strings.equals(selectedItem.type, 'VIMEO')}" style="padding:56.25% 0 0 0;position:relative;">
                                <iframe th:src="${selectedItem.link}"
                                        style="position:absolute;top:0;left:0;width:100%;height:100%;"
                                        frameborder="0"
                                        allow="autoplay; fullscreen" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
