<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="~{fragments :: head (${bonus.name})}"></div>
</head>
<body>

<header th:replace="~{fragments :: header}"></header>

<div class="container mt-4 mb-4">
    <h2 class="mb-4" th:text="${bonus.name}"></h2>
</div>

<div class="container mb-4">

    <div th:replace="~{fragments :: alert-errors (${errors})}"></div>
    <div th:replace="~{fragments :: alert-success (${success})}"></div>
    <div th:replace="~{fragments :: alert-exception (${exception})}"></div>

    <div class="row">
        <div class="col-12">

            <p th:utext="${bonus.description}"></p>

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/bonus/' + bonus.id + '/videos'} ? 'active' : ''"
                               th:href="@{'/bonus/' + ${bonus.id} + '/videos'}">Videos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/bonus/' + bonus.id + '/links'} ? 'active' : ''"
                               th:href="@{'/bonus/' + ${bonus.id} + '/links'}">Links</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               th:classappend="${#httpServletRequest.getRequestURI() == '/bonus/' + bonus.id + '/files'} ? 'active' : ''"
                               th:href="@{'/bonus/' + ${bonus.id} + '/files'}">Files</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-3 mb-4">
                            <div class="list-group">
                                <a class="list-group-item list-group-item-action"
                                   th:each="bonusItem: ${bonus.items}"
                                   th:href="@{'/bonus/' + ${bonus.id} + '/item/' + ${bonusItem.id}}"
                                   th:text="${bonusItem.name}"
                                   th:classappend="${selectedItem.id == bonusItem.id} ? 'active' : ''">Learn</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-9">
                            <iframe th:if="${#strings.equals(selectedItem.type, 'YOUTUBE')}" style="width: 100%; min-height: 600px;" th:src="${selectedItem.link}"
                                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<footer th:replace="~{fragments :: footer}"></footer>

</body>
</html>
